<h1>Listing payment_forms</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @payment_forms.each do |payment_form| %>
  <tr>
    <td><%=h payment_form.name %></td>
    <td><%= link_to 'Show', payment_form %></td>
    <td><%= link_to 'Edit', edit_payment_form_path(payment_form) %></td>
    <td><%= link_to 'Destroy', payment_form, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New payment_form', new_payment_form_path %>