<label class="head_label">Create new category<span></span></label>

<% form_remote_for(:finance_category,
                   :url => {:action => 'category_create'},
                   :complete => 'Modalbox.hide();return false;') do |f| %>


<div class="label-field-pair">
  <div class="label-container">
    <%= f.label :name %>
  </div>
  <div class="input-container">
    <%= f.text_field :name %>
  </div>
</div>

<div class="label-field-pair">
  <div class="label-container">
    <%= f.label :description %>
  </div>
  <div class="input-container">
    <%= f.text_field :description %>
  </div>
</div>

<div class="label-field-pair">
  <div class="label-container">
    <%= f.label :cash_box_id %>
  </div>
  <div class="text-input-bg">
    <%= f.select(:cash_box_id, options_from_collection_for_select(CashBox.all, :id, :name), :prompt => 'Select a cash box') %>
  </div>
</div>

<div class="label-field-pair">
  <div class="label-container">
    <label>Is this under income?</label>
  </div>
  <div class="input-container">
    <%= f.check_box :is_income %>
  </div>
</div>
  
<div id="modelbox-submit">
  <%= submit_tag "► Create", :class=>'submit_button' %>
</div>
<% end %>
