<div id="content-header">
   <img src="/images/show_finance.png" alt="" />
   <h1><%= t('app.views.finance.fees_submission_index.fees_submission') %></h1>
   <h3><%= t('app.views.finance.fees_submission_index.student_fees_submission') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">
  <div class="box">
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
  <div class="link-box">
    <div class="link-heading"><%= link_to t('app.views.finance.fees_submission_index.fees_submission_by_course'), :action => "fees_submission_batch" %> </div>
    <div class="link-descr"><%= t('app.views.finance.fees_submission_index.fees_submission_by_course_desc') %></div>
  </div>

  <div class="link-box">
    <div class="link-heading"><%= link_to t('app.views.finance.fees_submission_index.fees_submission_for_each_student'), :action => "fees_student_search" %> </div>
    <div class="link-descr"><%= t('app.views.finance.fees_submission_index.fees_submission_for_each_student_desc') %></div>
  </div>

</div>
</div>
