<div id="content-header">
  <img src="/images/show_finance.png" alt="" />
  <h1><%= t('app.views.finance.master_fees.master_category') %></h1>
  <h3><%= t('app.views.finance.master_fees.finance_management') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">

  <div id="message"></div>

  <div class="box">
  <div class="link-box">
    <div class="link-heading">
     <%= link_to_remote t('app.views.finance.master_fees.create_category'), :url => { :action => 'master_category_new'} %>
    </div>
    <div class="link-descr"><%= t('app.views.finance.master_fees.create_category_desc') %></div>
  </div>

  <div class="link-box">
    <div class="link-heading">
      <%= link_to_remote t('app.views.finance.master_fees.create_particulars'), :url => { :action => 'fees_particulars_new'} %>
    </div>
    <div class="link-descr"><%= t('app.views.finance.master_fees.create_particulars_desc') %></div>
  </div>

  <div id="modal-box" style="display:none;"></div>
  <%= @a %>
  
  <div id="categories"><%= render :partial => "master_category_list" %></div>
</div>
  </div>
